In [1]:
import pandas as pd
import numpy as np

In [ ]:
line_set =  []
dict_data = {}
dict_dataset = []

with open("dataset.txt", "r") as file:
    for line in file.readlines():
        line_set.append(line.strip().split("/n"))
        
        
for line in line_set:
    parts = line[0].split()
    pair = {parts[0]:parts[1:]}
    dict_data.update(pair)

In [7]:
df = pd.DataFrame(dict_data)

In [8]:
df.head(10)

      CAL    UCB     RIT   UCLA    UCSC    UFL    UMAD    RICE     UMD
0  121.83  52.34  100.21  12.50  213.77  20.21  109.39  126.30  102.96
1  122.26  50.89   99.33  27.22  193.51  19.77  120.49  128.00  103.62
2  123.94  47.62  102.87   9.32  178.53  21.34  131.35  129.08   98.22
3  122.11  51.16  110.63  16.07  180.08  20.21  127.97  129.28   96.60
4  120.58  52.40  110.72   3.86  208.29  21.17  121.38  124.44   99.10
5  127.86  50.79  109.25  25.55  166.44  23.53  145.50  122.91   95.92
6  123.64  51.02  105.34  28.10  173.77  24.87  136.10  124.70  101.74
7  118.37  50.99  112.24   6.50  225.70  24.76  101.45  129.41  101.35
8  124.30  51.30  111.50  29.76  209.92  23.53  111.91  117.72  102.21
9  126.50  50.21  109.40   6.82  177.39  26.10  126.09  124.50   95.76